#game-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    white-space: pre-line
}

#playerChoice{
    width: 10%;
    height: auto;
    background-color: black;
    color: grey;

}

#sidebar{
    outline-color: grey;
    outline-style: solid;
    border-width: 20px;
    width: 25%;
    height: 80vh;
    float: right;
}

#playerChoice{
    border: none;
    outline: none;
}

body{
    background-color: black;
    color: grey; 
    font-size: 18px;
    font-family: "Monaco", "Consolas", "Courier New", monospace;
}